<h2>Edit Page</h2>

<% #This block is replacing error_messages_for %>
<% if @page.errors.any? %>
  <ul>
    <% @page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :page, :url => @page, :html => { :method => :put } do |f| %>
<p><%=f.label :title, 'Title ' %>
<%= f.text_field :title, :size => 60 %></p>
<p><%=f.label :body, 'Body ' %>
<%=f.text_area :body, :rows => 20, :cols => 60 %></p>
<%= submit_tag 'Save' %> or <%= link_to 'cancel', pages_url %>
<% end %>